

  .navSwiperVertical {
    position: relative;
  }
  
  .navSwiperVertical .swiper-button-next,
  .navSwiperVertical .swiper-button-prev {
    position: absolute;
    top: auto;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0;
    background: red; /* Optional: remove background */
    opacity: 0.5; /* Optional: remove background */
    transform: rotate(90deg);

  }
  
  .navSwiperVertical .swiper-button-next {
    bottom: 1vh; /* Adjust as needed */
  }
  
  .navSwiperVertical .swiper-button-prev {
    top: 1vh; /* Adjust as needed */
  }
  

  
  @tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css */
:root {
  --gold: #fde047;
}

/* Additional CSS rules for styling your React components */

@layer base {
  button {
    @apply border border-black rounded-xl px-5 py-1;
  }
}

.react-rater-star.is-active-half:before {
  color: var(--gold) !important;
}

.react-rater-star.is-active {
  color: var(--gold) !important;
}